<a href="https://colab.research.google.com/github/jainvaidic/hackerearth_mySolutions/blob/master/Will_employee_leave_you.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.metrics import *
from keras import backend
train = pd.read_csv('/content/Train.csv')

train['Gender'] = train['Gender'].replace('M', 0)
train['Gender'] = train['Gender'].replace('F', 1)
train['Gender'] = train['Gender'].replace(np.nan, 2)

train['Age'] = train['Age'].replace(np.nan, train['Age'].mean())
train['Age'] = train['Age']/train['Age'].mean()

train['Relationship_Status'] = train['Relationship_Status'].replace('Married', 0)
train['Relationship_Status'] = train['Relationship_Status'].replace('Single', 1)
train['Relationship_Status'] = train['Relationship_Status'].replace(np.nan, 2)

train['Hometown'] = train['Hometown'].replace('Clinton', 0)
train['Hometown'] = train['Hometown'].replace('Franklin', 1)
train['Hometown'] = train['Hometown'].replace('Lebanon', 2)
train['Hometown'] = train['Hometown'].replace('Springfield', 3)
train['Hometown'] = train['Hometown'].replace('Washington', 4)
train['Hometown'] = train['Hometown'].replace(np.nan, 5)

train['Unit'] = train['Unit'].replace('Accounting and Finance', 0)
train['Unit'] = train['Unit'].replace('Human Resource Management', 1)
train['Unit'] = train['Unit'].replace('IT', 2)
train['Unit'] = train['Unit'].replace('Logistics', 3)
train['Unit'] = train['Unit'].replace('Marketing', 4)
train['Unit'] = train['Unit'].replace('Operarions', 5)
train['Unit'] = train['Unit'].replace('Production', 6)
train['Unit'] = train['Unit'].replace('Purchasing', 7)
train['Unit'] = train['Unit'].replace('Quality', 8)
train['Unit'] = train['Unit'].replace('R&D', 9)
train['Unit'] = train['Unit'].replace('Sales', 10)
train['Unit'] = train['Unit'].replace('Security', 11)
train['Unit'] = train['Unit'].replace(np.nan, 12)

train['Decision_skill_possess'] = train['Decision_skill_possess'].replace('Analytical', 0)
train['Decision_skill_possess'] = train['Decision_skill_possess'].replace('Behavioral', 1)
train['Decision_skill_possess'] = train['Decision_skill_possess'].replace('Conceptual', 2)
train['Decision_skill_possess'] = train['Decision_skill_possess'].replace('Directive', 3)
train['Decision_skill_possess'] = train['Decision_skill_possess'].replace(np.nan, 4)

train['Compensation_and_Benefits'] = train['Compensation_and_Benefits'].replace('type0', 0)
train['Compensation_and_Benefits'] = train['Compensation_and_Benefits'].replace('type1', 1)
train['Compensation_and_Benefits'] = train['Compensation_and_Benefits'].replace('type2', 2)
train['Compensation_and_Benefits'] = train['Compensation_and_Benefits'].replace('type3', 3)
train['Compensation_and_Benefits'] = train['Compensation_and_Benefits'].replace('type4', 4)
train['Compensation_and_Benefits'] = train['Compensation_and_Benefits'].replace(np.nan, 5)

train['Education_Level'] = train['Education_Level'].replace(np.nan, train['Education_Level'].mean())
train['Time_of_service'] = train['Time_of_service'].replace(np.nan, train['Time_of_service'].mean())
train['Time_since_promotion'] = train['Time_since_promotion'].replace(np.nan, train['Time_since_promotion'].mean())
train['growth_rate'] = train['growth_rate'].replace(np.nan, train['growth_rate'].mean())
train['Travel_Rate'] = train['Travel_Rate'].replace(np.nan, train['Travel_Rate'].mean())
train['Post_Level'] = train['Post_Level'].replace(np.nan, train['Post_Level'].mean())
train['Pay_Scale'] = train['Pay_Scale'].replace(np.nan, train['Pay_Scale'].mean())
train['Work_Life_balance'] = train['Work_Life_balance'].replace(np.nan, train['Work_Life_balance'].mean())
train['VAR1'] = train['VAR1'].replace(np.nan, train['VAR1'].mean())
train['VAR2'] = train['VAR2'].replace(np.nan, train['VAR2'].mean())
train['VAR3'] = train['VAR3'].replace(np.nan, train['VAR3'].mean())
train['VAR4'] = train['VAR4'].replace(np.nan, train['VAR4'].mean())
train['VAR5'] = train['VAR5'].replace(np.nan, train['VAR5'].mean())
train['VAR6'] = train['VAR6'].replace(np.nan, train['VAR6'].mean())
train['VAR7'] = train['VAR7'].replace(np.nan, train['VAR7'].mean())
train = train.replace(np.nan, 0)

train_x = train[['Gender','Age','Education_Level','Relationship_Status','Hometown','Unit','Decision_skill_possess','Time_of_service','Time_since_promotion','growth_rate','Travel_Rate','Post_Level','Pay_Scale','Compensation_and_Benefits','Work_Life_balance','VAR1','VAR2','VAR3','VAR4','VAR5','VAR6','VAR7']]
train_y = train[['Attrition_rate']]

train_x = np.array(train_x)
train_y = np.array(train_y)
train

Using TensorFlow backend.

     Employee_ID  Gender       Age  ...  VAR6  VAR7  Attrition_rate
0      EID_23371       1  1.059996  ...     5     3          0.1841
1      EID_18000       0  0.605712  ...     5     3          0.0670
2       EID_3891       1  1.463804  ...     8     3          0.0851
3      EID_17492       1  0.656188  ...     7     3          0.0668
4      EID_22534       1  0.782378  ...     8     2          0.1827
...          ...     ...       ...  ...   ...   ...             ...
6995   EID_16328       1  0.580474  ...     7     3          0.7839
6996    EID_8387       1  1.110472  ...     8     4          0.1055
6997    EID_8077       1  1.236662  ...     8     3          0.7847
6998   EID_19597       1  1.186186  ...     6     3          0.4162
6999    EID_1640       1  1.463804  ...     5     3          0.0910

[7000 rows x 24 columns]

In [ ]:
np.shape(train_y)

(7000, 1)

In [ ]:
model = tf.keras.Sequential([keras.layers.Dense(22, input_dim = 22, activation = tf.nn.leaky_relu),
                             tf.keras.layers.Dense(11, activation = tf.nn.leaky_relu),
                             tf.keras.layers.Dense(1, activation = tf.nn.sigmoid)]
                            )
# def rmse(y_true, y_pred):
# 	return backend.sqrt(backend.mean(backend.square(y_pred - y_true), axis = -1))
model.compile(
    optimizer = tf.keras.optimizers.RMSprop(),
    loss = 'mse',
    metrics=tf.keras.metrics.RootMeanSquaredError()
    )
model.fit(train_x, train_y, validation_split=0.2,epochs = 25,batch_size = 16)

Epoch 1/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0673 - root_mean_squared_error: 0.2594 - val_loss: 0.0559 - val_root_mean_squared_error: 0.2364
Epoch 2/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0420 - root_mean_squared_error: 0.2049 - val_loss: 0.0422 - val_root_mean_squared_error: 0.2055
Epoch 3/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0391 - root_mean_squared_error: 0.1978 - val_loss: 0.0456 - val_root_mean_squared_error: 0.2136
Epoch 4/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0382 - root_mean_squared_error: 0.1954 - val_loss: 0.0409 - val_root_mean_squared_error: 0.2022
Epoch 5/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0374 - root_mean_squared_error: 0.1934 - val_loss: 0.0405 - val_root_mean_squared_error: 0.2013
Epoch 6/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0367 - root_mean_squared_error: 0.1917 - val_loss: 0.0398 - val_root_mean_squared_error: 0.1996
Epoch 7/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0364 - root_mean_squared_error: 0.1908 - val_loss: 0.0415 - val_root_mean_squared_error: 0.2037
Epoch 8/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0363 - root_mean_squared_error: 0.1906 - val_loss: 0.0427 - val_root_mean_squared_error: 0.2067
Epoch 9/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0356 - root_mean_squared_error: 0.1887 - val_loss: 0.0452 - val_root_mean_squared_error: 0.2126
Epoch 10/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0356 - root_mean_squared_error: 0.1887 - val_loss: 0.0399 - val_root_mean_squared_error: 0.1998
Epoch 11/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0354 - root_mean_squared_error: 0.1881 - val_loss: 0.0398 - val_root_mean_squared_error: 0.1995
Epoch 12/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0352 - root_mean_squared_error: 0.1876 - val_loss: 0.0438 - val_root_mean_squared_error: 0.2094
Epoch 13/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0350 - root_mean_squared_error: 0.1872 - val_loss: 0.0406 - val_root_mean_squared_error: 0.2014
Epoch 14/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0350 - root_mean_squared_error: 0.1871 - val_loss: 0.0405 - val_root_mean_squared_error: 0.2012
Epoch 15/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0348 - root_mean_squared_error: 0.1866 - val_loss: 0.0431 - val_root_mean_squared_error: 0.2076
Epoch 16/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0344 - root_mean_squared_error: 0.1855 - val_loss: 0.0414 - val_root_mean_squared_error: 0.2035
Epoch 17/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0343 - root_mean_squared_error: 0.1852 - val_loss: 0.0401 - val_root_mean_squared_error: 0.2003
Epoch 18/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0343 - root_mean_squared_error: 0.1852 - val_loss: 0.0401 - val_root_mean_squared_error: 0.2002
Epoch 19/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0343 - root_mean_squared_error: 0.1853 - val_loss: 0.0399 - val_root_mean_squared_error: 0.1998
Epoch 20/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0342 - root_mean_squared_error: 0.1849 - val_loss: 0.0404 - val_root_mean_squared_error: 0.2010
Epoch 21/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0342 - root_mean_squared_error: 0.1850 - val_loss: 0.0405 - val_root_mean_squared_error: 0.2013
Epoch 22/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0341 - root_mean_squared_error: 0.1847 - val_loss: 0.0398 - val_root_mean_squared_error: 0.1996
Epoch 23/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0339 - root_mean_squared_error: 0.1840 - val_loss: 0.0413 - val_root_mean_squared_error: 0.2032
Epoch 24/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0339 - root_mean_squared_error: 0.1841 - val_loss: 0.0417 - val_root_mean_squared_error: 0.2043
Epoch 25/25
350/350 [==============================] - 1s 3ms/step - loss: 0.0339 - root_mean_squared_error: 0.1842 - val_loss: 0.0401 - val_root_mean_squared_error: 0.2001

In [ ]:
test = pd.read_csv('/content/Test.csv')

test['Gender'] = test['Gender'].replace('M', 0)
test['Gender'] = test['Gender'].replace('F', 1)
test['Gender'] = test['Gender'].replace(np.nan, 2)

test['Age'] = test['Age'].replace(np.nan, train['Age'].mean())
test['Age'] = test['Age']/train['Age'].mean()

test['Relationship_Status'] = test['Relationship_Status'].replace('Married', 0)
test['Relationship_Status'] = test['Relationship_Status'].replace('Single', 1)
test['Relationship_Status'] = test['Relationship_Status'].replace(np.nan, 2)

test['Hometown'] = test['Hometown'].replace('Clinton', 0)
test['Hometown'] = test['Hometown'].replace('Franklin', 1)
test['Hometown'] = test['Hometown'].replace('Lebanon', 2)
test['Hometown'] = test['Hometown'].replace('Springfield', 3)
test['Hometown'] = test['Hometown'].replace('Washington', 4)
test['Hometown'] = test['Hometown'].replace(np.nan, 5)

test['Unit'] = test['Unit'].replace('Accounting and Finance', 0)
test['Unit'] = test['Unit'].replace('Human Resource Management', 1)
test['Unit'] = test['Unit'].replace('IT', 2)
test['Unit'] = test['Unit'].replace('Logistics', 3)
test['Unit'] = test['Unit'].replace('Marketing', 4)
test['Unit'] = test['Unit'].replace('Operarions', 5)
test['Unit'] = test['Unit'].replace('Production', 6)
test['Unit'] = test['Unit'].replace('Purchasing', 7)
test['Unit'] = test['Unit'].replace('Quality', 8)
test['Unit'] = test['Unit'].replace('R&D', 9)
test['Unit'] = test['Unit'].replace('Sales', 10)
test['Unit'] = test['Unit'].replace('Security', 11)
test['Unit'] = test['Unit'].replace(np.nan, 12)

test['Decision_skill_possess'] = test['Decision_skill_possess'].replace('Analytical', 0)
test['Decision_skill_possess'] = test['Decision_skill_possess'].replace('Behavioral', 1)
test['Decision_skill_possess'] = test['Decision_skill_possess'].replace('Conceptual', 2)
test['Decision_skill_possess'] = test['Decision_skill_possess'].replace('Directive', 3)
test['Decision_skill_possess'] = test['Decision_skill_possess'].replace(np.nan, 4)

test['Compensation_and_Benefits'] = test['Compensation_and_Benefits'].replace('type0', 0)
test['Compensation_and_Benefits'] = test['Compensation_and_Benefits'].replace('type1', 1)
test['Compensation_and_Benefits'] = test['Compensation_and_Benefits'].replace('type2', 2)
test['Compensation_and_Benefits'] = test['Compensation_and_Benefits'].replace('type3', 3)
test['Compensation_and_Benefits'] = test['Compensation_and_Benefits'].replace('type4', 4)
test['Compensation_and_Benefits'] = test['Compensation_and_Benefits'].replace(np.nan, 5)

test['Education_Level'] = test['Education_Level'].replace(np.nan, train['Education_Level'].mean())
test['Time_of_service'] = test['Time_of_service'].replace(np.nan, train['Time_of_service'].mean())
test['Time_since_promotion'] = test['Time_since_promotion'].replace(np.nan, train['Time_since_promotion'].mean())
test['growth_rate'] = test['growth_rate'].replace(np.nan, train['growth_rate'].mean())
test['Travel_Rate'] = test['Travel_Rate'].replace(np.nan, train['Travel_Rate'].mean())
test['Post_Level'] = test['Post_Level'].replace(np.nan, train['Post_Level'].mean())
test['Pay_Scale'] = test['Pay_Scale'].replace(np.nan, train['Pay_Scale'].mean())
test['Work_Life_balance'] = test['Work_Life_balance'].replace(np.nan, train['Work_Life_balance'].mean())
test['VAR1'] = test['VAR1'].replace(np.nan, train['VAR1'].mean())
test['VAR2'] = test['VAR2'].replace(np.nan, train['VAR2'].mean())
test['VAR3'] = test['VAR3'].replace(np.nan, train['VAR3'].mean())
test['VAR4'] = test['VAR4'].replace(np.nan, train['VAR4'].mean())
test['VAR5'] = test['VAR5'].replace(np.nan, train['VAR5'].mean())
test['VAR6'] = test['VAR6'].replace(np.nan, train['VAR6'].mean())
test['VAR7'] = test['VAR7'].replace(np.nan, train['VAR7'].mean())
test = test.replace(np.nan, 0)

test_x = test[['Gender','Age','Education_Level','Relationship_Status','Hometown','Unit','Decision_skill_possess','Time_of_service','Time_since_promotion','growth_rate','Travel_Rate','Post_Level','Pay_Scale','Compensation_and_Benefits','Work_Life_balance','VAR1','VAR2','VAR3','VAR4','VAR5','VAR6','VAR7']]

test_x = np.array(test_x)

p = model.predict(test_x)

df_sub = pd.DataFrame()
df_sub['Employee_ID'] = test['Employee_ID']
df_sub['Attrition_rate'] = p

df_sub.to_csv('submission.csv', index=False)